.description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.description__tecnologies {
  color: var(--azul-escuro);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-top: 24px;
}
