.header {
  background-color: rgba(51, 51, 51, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
}

.header__info {
  align-items: center;
  display: flex;
  height: 50%;
}
.navigation__list {
  align-items: center;
  column-gap: 30px;
  display: flex;
}

.navigation__item {
  cursor: pointer;
}

.navigation__item:hover {
  text-decoration: underline;
}

.navigation__item a {
  color: var(--branco);
  text-decoration: none;
}

@media screen and (min-width: 0) {
  .header {
    width: 100vw;
  }

  .header__info {
    justify-content: space-around;
    width: 100vw;
  }

  .navigation__list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 95vw;
  }

  .name__Letters {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-around;
    width: 100vw;
  }

  .header__info {
    justify-content: space-between;
    width: 77%;
  }
  .name__Letters {
    display: initial;
  }
}
