.header {
  align-items: center;
  display: flex;
  height: 100px;
}

.header__info {
  align-items: center;
  display: flex;
  height: 50%;
}
.navigation__list {
  align-items: center;
  display: flex;
  column-gap: 30px;
}

.navigation__item:last-child {
  width: 24px;
  height: 24px;
}
.navigation__button {
  background: url(../images/sun-black.svg) center / cover no-repeat;
  border: 0 none;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 0) {
  .header {
    width: 100vw;
  }

  .header__info {
    justify-content: space-around;
    width: 100vw;
  }

  .name__Letters {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-around;
    width: auto;
  }

  .header__info {
    justify-content: space-between;
    width: 77%;
  }
  .name__Letters {
    display: initial;
  }
}
