.presentation__beforeName {
  font-family: "Inter", sans-serif;
  font-size: 16;
}

.presentation__name {
  background: linear-gradient(0.9turn, var(--lilas), var(--azul), var(--vermelho));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 1rem 0;
}

.presentation__afterName {
  font-family: "Inter", sans-serif;
  font-size: 18;
  line-height: 24px;
  padding-bottom: 3rem;
}

.presentation__button {
  background: url(../images/arrow-black.svg) 70px 15px / 33px no-repeat;
  border: 0 none;
  height: 35px;
  text-align: left;
  width: 115px;
}

.presentation__button:hover {
  border: 1px solid var(--preto);
  border-radius: 20px;
  cursor: pointer;
}

.presentation__button a {
  font-family: "Inter", sans-serif;
  font-size: 24;
  text-decoration: none;
}

@media screen and (min-width: 0) {
  .presentation__name {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) {
  .presentation__name {
    font-size: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .presentation__name {
    font-size: 96px;
  }
}
