.control li {
  background: var(--background);
  border-radius: 50%;
  color: var(--branco);
  cursor: pointer;
  padding: 6px 12px;
  position: absolute;
  top: 50%;
  z-index: 99;
}

.control li:hover {
  background: var(--cinza);
  color: var(--preto);
}

.control li.prev {
  left: 20px;
}

.control li.next {
  right: 20px;
}

@media screen and (min-width: 1024px) {
  .control {
    display: initial;
  }
}
